body {
    background:#eee;
    height: 100%;
    font:
        14px "Lucida Grande",
        Helvetica,
        Arial,
        sans-serif;
}

html{
    height: 100%;
}

a {
    color: #00b7ff;
}

#map {
    height: 100%;
}

#map-container {
    position: relative;
    height: calc(100% - 70px);
}
  
  #map {
    height: 100%;
    width: 100%;
  }
  
  #showVillageButton {
    position: absolute;
    top: 12px;
    left: 50px;
    padding: 10px 20px;
    background-color:#eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #showVillageButton:hover {
    background-color: #ddd;
    color: red;
  }

.red {
    filter: hue-rotate(130deg);
}

.purple {
    filter: hue-rotate(60deg);
}

.yellow {
    filter: hue-rotate(210deg);
}

select {
    font-family: "FontAwesome 5 Free", "sans-serif";
}

@font-face {
    font-family: "FontAwesome 5 Free";
    src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0");
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333333;
    padding: 10px 20px;
    height: 50px;
  }
  
  .logo {
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    
    justify-content: flex-end;
  }
  
  .nav-item{
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    color: black;
  }
  
  .nav-item:hover{
    background-color: #ddd;
    color: red;
  }
  
  
  .hidden {
    display: none;
  }

  .login-body-container {
    margin-top: 25px;
    text-align: center;
}

.login-form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 4px black;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-container input{
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.login-form-container input[type="submit"] {
    margin-top: 1.5rem;
    padding: 0.75rem;
    background-color: #ddd;
    color: red;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.navigation-link{
font-size: 22px;
    color: red;
}