doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://kit.fontawesome.com/af150feb64.js", crossorigin="anonymous")
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css", integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=", crossorigin="")
    script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js", integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=", crossorigin="" defer) 
  body
    nav.navbar
        a.logo.nav-item(href='/') Ranger Radar
        .nav-links
          a#reportNav.nav-item(href='/report') Report
          a#mapNav.nav-item(href='/') Map
          a#livefeedNav.nav-item(href='/livefeed') Live Feed
          a#tutorialNav.nav-item(href='/tutorial') Tutorial
          if loggedIn 
            a#accountNav.nav-item(href='/account') Account
            a#registerNav.nav-item(href='/register') Register
            a#logoutNav.nav-item(href='/logout') Logout
          else 
            a#loginNav.nav-item(href='/login') Login
    block content
    script.
      window.selectedNav = !{JSON.stringify(selectedNav)};
      !{selectedNav}.style.color = "red"
      !(src='/javascripts/layout.js')