extends layout

block content
    .login-body-container
        .login-form-container
            h1 Welcome to RangerRadar
            h2 Login
            form(action='', method='POST')
                label(for='username') Username
                input#username(type='text' name='username' placeholder='Username' required='')
                br
                label(for='password') Password
                input#password(type='password' name='password' placeholder='Password' required='')
                br
                input(type='submit' value='login')
            p
                a.navigation-link(href='/') Back to Map
