extends layout

block content
  body
    .login-body-container
    .login-form-container   
        h2 Logout
        p Are you sure you want to logout?
        form(action='logout' method='post')
            input(type='submit' value='Logout')
            
            a.navigation-link(href='/') Back to Map
