extends layout

block content
  head
    script(src='/javascripts/mapController.js', defer)
  body
    div#map-container
      button#showVillageButton <i class="fa-solid fa-vihara"></i> Pu Nagol Community Meeting Hall
      if loggedIn
        button#modeSwitchButton <i class="fa-solid fa-location-dot"></i> Report
      div#map
    script.
        let reportsData = !{JSON.stringify(reports)}
        let isLoggedIn = !{loggedIn}
