extends layout
block content
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://kit.fontawesome.com/af150feb64.js", crossorigin="anonymous")
        //- CSS for Leaftlet must go before the JS file, otherwise it won't work
        link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css", integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=", crossorigin="")
        script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js", integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=", crossorigin="") 
        script(src='/javascripts/mapController.js',defer)
    body
        h1 Ranger Radar
        button#showVillageButton Show village on map
        br 
        br
        form(action='/manual-form' method='POST')
            label(for='lat') Lat: 
            input#latBox(type='text' name='lat' placeholder='Enter lat coords here' required='')
            br
            label(for='lng') Lng:  
            input#lngBox(type='text' name='lng' placeholder='Enter lng coords here' required='')
            br
            input(type='radio' id='formERW' name='formType' checked)
            label(for='formERW')
              i(class="fa-solid fa-bomb fa-fw fa-5x")
            br
            input(type='radio' id='formPoaching' name='formType')
            label(for='formPoaching')
              i(class="fa-solid fa-crosshairs fa-fw fa-5x")
            br 
            input(type='radio' id='formMining' name='formType') 
            label(for='formMining')
              i(class="fa-solid fa-helmet-safety fa-fw fa-5x")
            br
            input(type='radio' id='formLogging' name='formType')
            label(for='formLogging')
              i(class="fa-solid fa-tree fa-fw fa-5x")
            br
            button#manualFormSubmitButton(type='submit') 
              i( class='fa-solid fa-check')
            br
            br
        div#map