extends layout

block content
  head
    //- CSS for Leaflet must go before the JS file, otherwise it won't work
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css", integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=", crossorigin="")
    script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js", integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=", crossorigin="") 
    script(src='/javascripts/mapController.js', defer)
  body
    nav.navbar
      .logo Ranger Radar
      .nav-links
        a.nav-item(href='/report') Report
        .nav-item Map
        .nav-item Live Feed
        .nav-item(href='/register') Register
        if loggedIn 
          a.nav-item(href='/logout') Logout
        else 
          a.nav-item(href='/login') Login
        
    div#map-container
      button#showVillageButton <i class="fa-solid fa-vihara"></i> Pu Nagol Community Meeting Hall
      div#map
    form#locationForm.hidden(action='/map/manual-form' method='POST')
        label(for='lat') Lat: 
        input#latBox(type='text' name='lat' placeholder='Enter lat coords here' required='')
        br
        label(for='lng') Lng:  
        input#lngBox(type='text' name='lng' placeholder='Enter lng coords here' required='')
        br
        input(type='radio' id='formERW' name='formType' value='erw' checked)
        label(for='formERW')
          i(class="fa-solid fa-bomb fa-fw fa-5x")
        br
        input(type='radio' id='formPoaching' name='formType' value='poaching')
        label(for='formPoaching')
          i(class="fa-solid fa-crosshairs fa-fw fa-5x")
        br 
        input(type='radio' id='formMining' name='formType' value='mining') 
        label(for='formMining')
          i(class="fa-solid fa-helmet-safety fa-fw fa-5x")
        br
        input(type='radio' id='formLogging' name='formType' value='logging')
        label(for='formLogging')
          i(class="fa-solid fa-tree fa-fw fa-5x")
        br
        button#manualFormSubmitButton(type='submit') 
          i( class='fa-solid fa-check')
        br
        br
    script.
        let reportsData = !{JSON.stringify(reports)}
