extends layout

block content
    .login-body-container
        .login-form-container
            h1 Welcome to RangerRadar
            h2 Register
            form(action='', method='POST')
                label(for='username') Username
                input#username(type='text' name='username' placeholder='Username' required='')
                br
                label(for='password') Password
                input#password(type='password' name='password' placeholder='Password' required='')
                br
                label(for='email') Email
                input#email(type='email' name='email' placeholder='e@mail.com' required='')
                br
                input(type='submit' value='Register')
            h3 Result: #{registerResult}
            p
                a.navigation-link(href='/') Back to Map
