extends layout
block content
    body
        .login-body-container
            .login-form-container
                h1 Ranger Radar
                h2 Make a Report
                form(action='/report/manual-form' method='POST')
                    label(for='lat') Lat: 
                    input#latBox(type='text' name='lat' placeholder='Enter lat coords here' required='')
                    br
                    label(for='lng') Long:  
                    input#lngBox(type='text' name='long' placeholder='Enter long coords here' required='')
                    br
                    input(type='radio' id='formERW' name='formType' value='erw' checked)
                    label(for='formERW')
                        img(class="fa-solid fa-bomb fa-fw fa-5x" src='erw.ico' alt='ERW Icon' style='width: 50px; height: 50px;')
                    br
                    input(type='radio' id='formPoaching' name='formType' value='poaching')
                    label(for='formPoaching')
                        img(class="fa-solid fa-crosshairs fa-fw fa-5x" src='crosshair.ico' alt='Poaching Icon' style='width: 50px; height: 50px;')
                    br 
                    input(type='radio' id='formMining' name='formType' value='mining') 
                    label(for='formMining')
                        img(class="fa-solid fa-helmet-safety fa-fw fa-5x" src='pickaxe.ico' alt='Mining Icon' style='width: 50px; height: 50px;')
                    br
                    input(type='radio' id='formLogging' name='formType' value='logging')
                    label(for='formLogging')
                        img(class="fa-solid fa-tree fa-fw fa-5x" src='axe.ico' alt='Logging Icon' style='width: 50px; height: 50px;')
                    br
                    select(name='severity' id='severityMenu')
                        option(value='*') *
                        option(value='**') **
                        option(value="***") ***
                    br
                    button#manualFormSubmitButton(type='submit') 
                        i(class='fa-solid fa-check')
                    br
                    if alert
                        each error, i in alert
                            div(style='color:red') #{error.msg}
                    br
                p
                    a.navigation-link(href='/') Back to Map
