extends layout

block content
  body
    div#report-table-container
      h2 Tutorial
      table#report-table
        thead
          tr
            th
              video#video-loop(autoplay loop controls, class="video")
                source(src="tutorial.mp4" type="video/mp4")
